// Базові стилі спойлерів
// Сніппет (HTML): spoller

// Блок зі спойлерами
.spollers {
  display: grid;
}
// Спойлер
.spollers__item {
  border-bottom: 1px solid #cbd5e1;
}
// Заголовок спойлера
.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  padding: rem(24) rem(48) rem(24) 0;
  position: relative;
  list-style: none;

  &::marker {
  }
  ._spoller-init & {
    cursor: pointer;
    &::before,
    &::after {
      content: "";
      position: absolute;
      right: 10px;
      top: 50%;
      background-color: #000;
      height: 2px;
      width: 18px;
      transition: transform 0.5s ease 0s;
    }
    &::before {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    &::after {
      transform: translate(-50%, -50%) rotate(90deg);
    }
    &._spoller-active {
      &::before {
        transform: translate(-50%, -50%) rotate(135deg);
      }
      &::after {
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }
    /*
		._spoller-init & {
			position: relative;
			width: 100%;
			text-align: left;
			&::before,
			&::after {
				content: "";
				position: absolute;
				right: 0;
				top: rem(12);
				height: rem(1);
				transition: all 0.3s ease 0s;
				width: rem(10);
				background-color: #000;
			}
			&::before {
				transform: rotate(40deg);
				right: rem(7);
			}
			&::after {
				transform: rotate(-40deg);
			}
		}
		&._spoller-active {
			&::before {
				transform: rotate(-40deg);
			}
			&::after {
				transform: rotate(40deg);
			}
		}
		*/
  }
}
// Контент спойлера
.spollers__body {
  padding: 0 0 rem(24) 0;
  max-width: rem(560);
  color: #334155;
}
summary::-webkit-details-marker {
  display: none;
}
