//====================================================================================================
.hero {
  // background: url("@img/hero-bg.png") center / cover no-repeat;
  @include adaptiveValue("padding-top", 205, 108);
  @include adaptiveValue("padding-bottom", 104, 40);
  // .hero__container
  &__container {
  }
  // .hero__main
  &__main {
    display: flex;
    gap: 104px;
    position: relative;
    @media (max-width: 1024px) {
      flex-direction: column;
      align-items: center;
      gap: 80px;
    }
    &-text {
      width: rem(498);
      display: flex;
      justify-content: center;
      flex-direction: column;
      position: relative;
      z-index: 2;
      @media (max-width: 1024px) {
        text-align: center;
      }

      @media (max-width: $mobile) {
      }
      @media (max-width: 520px) {
        width: 100%;
      }
    }
    &-img {
      position: absolute;
      @include adaptiveValue("width", 728, 272);
      @include adaptiveValue("right", 0, -135, 0, 1328, 1024);
      top: 50%;
      transform: translateY(-50%);
      @media (max-width: 1024px) {
        position: static;
        transform: translate(0);
        width: 100%;
      }
      img {
        width: 100%;
        box-shadow:
          0px 0.7471592426300049px 2.2138051986694336px 0px rgba(0, 0, 0, 0.05),
          0px 1.7955275774002075px 5.32008171081543px 0px rgba(0, 0, 0, 0.04),
          0px 3.380819082260132px 10.017241477966309px 0px rgba(0, 0, 0, 0.03),
          0px 6.030803203582764px 17.869047164916992px 0px rgba(0, 0, 0, 0.03),
          0px 11.27995491027832px 33.422088623046875px 0px rgba(0, 0, 0, 0.02),
          0px 27px 80px 0px rgba(0, 0, 0, 0.01);
      }
    }
  }
  // .hero__subtitle
  &__subtitle {
    color: $gray;
    font-size: rem(16);
    margin-bottom: rem(20);
  }
  // .hero__title
  &__title {
    font-family: "Space Grotesk";
    @include adaptiveValue("font-size", 48, 30);
    @include adaptiveValue("line-height", 48, 36);
    margin-bottom: rem(12);
    font-weight: 700;
  }
  &__title-desc {
    color: $gray;
    font-size: 16px;
    margin-bottom: rem(24);
    span {
      font-weight: 600;
    }
  }
  // .hero__form
  &__form {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
  }
  // .hero__form-left
  &__form-left {
    max-width: rem(505);
    width: 100%;
    @media (max-width: $tablet) {
      max-width: unset;
    }
  }
  // .hero__input
  &__input {
    width: 100%;
    padding: 14px 24px;
    background-color: #f8fafc;
    border-radius: 8px;
    border: 2px solid #818cf8;
    transition: border 0.3s ease 0s;
    &:focus {
      outline: none;
      border: 2px solid $brand;
    }
    &::placeholder {
      color: #94a3b8;
    }
  }
  &__form-geocoder {
    position: relative;
  }
  &__form-icon {
    position: absolute;
    z-index: 2;
    font-size: rem(24);
    color: #6366f1;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
  }
  // .hero__form-right
  &__form-right {
    display: flex;
    align-items: center;
    gap: 16px;
    @media (max-width: 1024px) {
      flex-direction: column;
    }
  }
  // .hero__button
  &__button {
    padding: 16px 32px;
    border-radius: 12px;
    font-weight: 600;
  }
  // .hero__form-desc
  &__form-desc {
    color: #334155;
  }

  // .hero__bottom
  &__bottom {
    @include adaptiveValue("margin-top", 152, 40);
  }
  // .hero__bottom-text
  &__bottom-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: rem(24);
  }
  // .hero__desc
  &__desc {
  }

  &__slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__wrapper {
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
  }
  &__form-error-message {
    color: red;
    margin-top: rem(8);
  }
}

//====================================================================================================
.location {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include adaptiveValue("padding-bottom", 104, 80);
  @include adaptiveValue("padding-top", 100, 80);
  background-color: #7dd3fc;
  &__youtube-wrap {
    max-width: rem(1536);
    padding: 0 40px;
    width: 100%;
    @include adaptiveValue("margin-bottom", 80, 24);
    @media (max-width: $mobile) {
      padding: 0 24px;
    }
  }
  &__youtube {
    position: relative;
    @include adaptiveValue("height", 816, 153);
    border-radius: 8px;
    &-reports {
      background: url("@img/youtube-lr-cover.png") center / cover no-repeat;
    }
    &-heath-map {
      background: url("@img/youtube-heat-map-cover.png") center / cover
        no-repeat;
    }
  }
  &__video {
    width: 100%;
    height: 100%;
    iframe {
      width: 100%;
      height: 100%;
    }
  }
  &__button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include adaptiveValue("width", 89, 56);
    img {
      width: 100%;
    }
  }
  // .location__container
  &__container {
  }
  // .location__title
  &__title {
    font-family: "Space Grotesk";
    font-weight: 700;
    text-align: center;
    max-width: rem(681);
    margin: 0 auto 8px;
    @include adaptiveValue("font-size", 36, 24);
    @include adaptiveValue("line-height", 40, 32);
  }
  // .location__subtitle
  &__subtitle {
    color: #0c4a6e;
    text-align: center;
    margin-bottom: rem(80);
  }
  // .location__cards
  &__cards {
    display: flex;
    gap: 8px;
    width: 100%;
    flex-wrap: wrap;
    @media (max-width: 1024px) {
      flex-direction: column;
    }
  }
  // .location__left
  &__left {
    width: calc(100% / 2 - 4px);
    @media (max-width: 1024px) {
      width: 100%;
    }
  }
  // .location__card-50
  &__card-50 {
    background-color: #fff;
    border-radius: 16px;
    border: 1px solid #0c4a6e;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    height: 100%;

    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }
  // .location__card-text
  &__card-text {
    padding: 40px;
  }
  // .location__card-title
  &__card-title {
    @include adaptiveValue("font-size", 30, 20);
    @include adaptiveValue("line-height", 36, 28);
    font-weight: 600;
  }
  // .location__card-desc
  &__card-desc {
    color: #334155;
  }
  // .location__right
  &__right {
    width: calc(100% / 2 - 4px);
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    @media (max-width: 1024px) {
      width: 100%;
    }
    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }
  // .location__card-25
  &__card-25 {
    width: calc(50% - 4px);
    border-radius: 16px;
    border: 1px solid #0c4a6e;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
    @media (max-width: $mobile) {
      width: 100%;
    }
  }
  // .location__card-wrap
  &__card-wrap {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: calc(50% - 4px);
    flex-wrap: wrap;
    @media (max-width: $mobile) {
      width: 100%;
      flex-direction: row;
      height: 100%;
    }
    @media (max-width: $mobileSmall) {
      flex-direction: column;
    }
  }
  // .location__card-25-s
  &__card-25-s {
    border-radius: 16px;
    border: 1px solid #0c4a6e;
    height: calc(100% / 2 - 4px);
    @media (max-width: $mobile) {
      height: auto;
      width: calc(100% / 2 - 4px);
    }
    @media (max-width: $mobileSmall) {
      width: 100%;
    }
  }
  // .location__bottom
  &__bottom {
    @include adaptiveValue("margin-top", 80, 40);
    display: flex;
    @include adaptiveValue("gap", 80, 40, 0, 1328, 767.98);
    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }
  // .location__bottom-left
  &__bottom-left {
    @include adaptiveValue("max-width", 848, 300, 0, 1328, 767.98);
    @media (max-width: $mobile) {
      max-width: 100%;
      text-align: center;
    }
  }
  // .location__bottom-title
  &__bottom-title {
    @include adaptiveValue("font-size", 30, 20);
    @include adaptiveValue("line-height", 36, 20);
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: rem(28);
  }
  // .location__bottom-button
  &__bottom-button {
    padding: 16px 32px;
  }
  // .location__bottom-right
  &__bottom-right {
    display: flex;
    flex-direction: column;
    gap: 24px;
    li {
      display: flex;
      gap: 24px;
      align-items: center;
      color: #0c4a6e;
      &::before {
        border-radius: 100px;
        background: #f0f9ff;
        padding: 12px;
        display: flex;
        color: #38bdf8;
        font-size: rem(24);
        line-height: 100%;
      }
    }
  }
}

//========================================================================================================================================================

.testimonial {
  @include adaptiveValue("padding-top", 120, 80);
  @include adaptiveValue("padding-bottom", 120, 80);
  background-color: #38bdf8;
  // .testimonial__container
  &__container {
  }
  &__wrap {
    max-width: rem(728);
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #312e81;
    margin: 0 auto;
    @media (max-width: $mobile) {
      max-width: unset;
      width: 100%;
    }
  }
  // .testimonial__text
  &__text {
    @include adaptiveValue("font-size", 30, 16);
    @include adaptiveValue("line-height", 36, 24);
    font-weight: 600;
  }
  // .testimonial__autor
  &__autor {
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 16px;
  }
  // .testimonial__img
  &__img {
    width: 48px;
    height: 48px;
  }
  // .testimonial__autor-text
  &__autor-text {
  }
  // .testimonial__autor-name
  &__autor-name {
    font-weight: 600;
  }
  // .testimonial__autor-desc
  &__autor-desc {
  }
}
//========================================================================================================================================================

.stats {
  @include adaptiveValue("padding-top", 120, 80);
  &__item {
    position: relative;

    height: rem(564);
    max-width: 2000px;
    margin: 0 auto;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 120, 80);
    }

    &:nth-child(even) {
      .stats__container {
        flex-direction: row-reverse;
        @media (max-width: $tablet) {
          flex-direction: column;
        }
      }
    }
    &:nth-child(odd) {
      .stats__container {
        flex-direction: row;
        @media (max-width: $tablet) {
          flex-direction: column;
        }
      }
    }
    @media (max-width: $tablet) {
      height: unset;
    }
  }
  // .stats__img
  &__img {
    max-width: 1000px;
    &-first {
      left: 0;
      width: 50%;
    }
    &-second {
      right: -130px;
      border-radius: 16px;
      box-shadow:
        0px 2.767256498336792px 2.2138051986694336px 0px
          rgba(209, 219, 233, 0.02),
        0px 6.650102138519287px 5.32008171081543px 0px rgba(209, 219, 233, 0.03),
        0px 12.521552085876465px 10.017241477966309px 0px
          rgba(209, 219, 233, 0.04),
        0px 22.3363094329834px 17.869047164916992px 0px
          rgba(209, 219, 233, 0.04),
        0px 41.777610778808594px 33.422088623046875px 0px
          rgba(209, 219, 233, 0.05),
        0px 100px 80px 0px rgba(209, 219, 233, 0.07);
      width: calc(50% + 130px);
    }
    &-three {
      left: -136px;
      border-radius: 16px;
      box-shadow:
        0px 2.767256498336792px 2.2138051986694336px 0px
          rgba(209, 219, 233, 0.02),
        0px 6.650102138519287px 5.32008171081543px 0px rgba(209, 219, 233, 0.03),
        0px 12.521552085876465px 10.017241477966309px 0px
          rgba(209, 219, 233, 0.04),
        0px 22.3363094329834px 17.869047164916992px 0px
          rgba(209, 219, 233, 0.04),
        0px 41.777610778808594px 33.422088623046875px 0px
          rgba(209, 219, 233, 0.05),
        0px 100px 80px 0px rgba(209, 219, 233, 0.07);
      width: calc(50% + 136px);
    }
    &-four {
      right: 0;
      width: 50%;
    }
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    @media (max-width: $tablet) {
      position: static;
      width: 100%;
      transform: translateY(0);
    }
  }
  // .stats__container
  &__container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    @media (max-width: $tablet) {
      flex-direction: column;
      @include adaptiveValue("gap", 120, 24);
    }
  }
  // .stats__text
  &__text {
    @include adaptiveValue("max-width", 486, 420, 0, 1328, 991.98);
    @media (max-width: $tablet) {
      max-width: 100%;
    }
  }
  // .stats__title
  &__title {
    font-family: "Krona One";
    @include adaptiveValue("font-size", 30, 18);
    @include adaptiveValue("line-height", 36, 28);
    letter-spacing: -3px;
    @include adaptiveValue("margin-bottom", 8, 0);

    @media (max-width: $mobile) {
      letter-spacing: normal;
    }
  }
  // .stats__subtitle
  &__subtitle {
    color: #647488;
    @include adaptiveValue("font-size", 16, 14);
    @include adaptiveValue("line-height", 24, 20);
    @include adaptiveValue("margin-bottom", 40, 24);
  }
  // .stats__desc
  &__desc {
    @include adaptiveValue("margin-bottom", 40, 24);
  }
  // .stats__list
  &__list {
    li {
      display: flex;
      align-items: center;
      gap: 24px;
      color: #334155;
      &:not(:last-child) {
        margin-bottom: rem(16);
      }
      &::before {
        font-size: rem(24);
        color: #6366f1;
        padding: 12px;
        background-color: #f1f5f9;
        border-radius: 50%;
      }
    }
  }
}

//========================================================================================================================================================

.discover {
  background: url("@img/discover-bg.png") center / cover no-repeat;
  @include adaptiveValue("padding-top", 310, 80);
  @include adaptiveValue("padding-bottom", 310, 80);
  // .discover__container
  &__container {
  }
  &__box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: rem(496);
    margin: 0 auto;
  }
  // .discover__title
  &__title {
    font-family: "Krona One";
    @include adaptiveValue("font-size", 30, 24);
    @include adaptiveValue("line-height", 36, 32);
    letter-spacing: -3px;
    margin-bottom: rem(20);

    @media (max-width: $mobile) {
      letter-spacing: -2;
    }
  }
  // .discover__subtitle
  &__subtitle {
    color: #334155;
    margin-bottom: rem(40);
  }
  // .discover__inspect
  &__inspect {
    font-size: rem(14);
    line-height: math.div(20, 14);
    font-weight: 600;
  }
  // .discover__exemple
  &__exemple {
    color: $gray;
    font-size: rem(14);
    line-height: math.div(20, 14);
    margin-bottom: rem(8);
  }
  // .discover__form
  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  // .discover__input
  &__input {
    width: 100%;
    padding: 14px 24px;
    background-color: #f8fafc;
    border-radius: 8px;
    border: 2px solid #818cf8;
    transition: border 0.3s ease 0s;
    &:focus {
      outline: none;
      border: 2px solid $brand;
    }
  }
  // .discover__bottom
  &__bottom {
    display: flex;
    align-items: center;
    gap: 24px;
    @media (max-width: 520px) {
      flex-direction: column;
    }
  }
  // .discover__button
  &__button {
    padding: 16px 32px;
  }
  // .discover__subtext
  &__subtext {
    max-width: rem(208);
    color: #334155;
    a {
      text-decoration: underline;
    }
  }
}

//========================================================================================================================================================

.pricing {
  @include adaptiveValue("padding-top", 140, 60);
  @include adaptiveValue("padding-bottom", 124, 60);
  // .pricing__container
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  // .pricing__title
  &__title {
    font-family: "Krona One";
    @include adaptiveValue("font-size", 60, 18);
    line-height: 100%;
    letter-spacing: -0.6px;
    @include adaptiveValue("margin-bottom", 48, 20);
    text-align: center;
    position: relative;
    img {
      position: absolute;
      bottom: -5px;
      right: 0;
      @include adaptiveValue("width", 328, 103);
    }
  }
  // .pricing__subtitle
  &__subtitle {
    @include adaptiveValue("font-size", 20, 14);
    line-height: 100%;
    @include adaptiveValue("margin-bottom", 72, 40);
  }
  // .pricing__slider
  &__slider {
    width: 100%;
  }
  // .pricing__wrapper
  &__wrapper {
    @media (max-width: $mobileSmall) {
      flex-direction: column;
      gap: 36px;
    }
  }
  // .pricing__slide
  &__slide {
    border-radius: 8px;
    background: rgba(226, 232, 240, 0.22);
    padding: 64px 44px 72px;
    width: 375px;
    position: relative;
    &:nth-child(2) {
      background: rgba(61, 60, 255, 0.12);
    }
    @media (max-width: $mobile) {
      padding: 28px 20px 34px;
      width: 272px;
    }
    @media (max-width: $mobileSmall) {
      width: 100%;
    }
  }
  // .pricing__slide-title
  &__slide-title {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 700;
    line-height: 100%;
    @include adaptiveValue("font-size", 20, 16);
    @include adaptiveValue("margin-bottom", 22, 16);
    @media (max-width: $mobileSmall) {
      text-align: center;
      justify-content: center;
    }
  }
  // .pricing__slide-subtitle
  &__slide-subtitle {
    @include adaptiveValue("font-size", 16, 14);
    line-height: 100%;
    @include adaptiveValue("margin-bottom", 40, 20);
    @media (max-width: $mobileSmall) {
      text-align: center;
    }
  }
  // .pricing__slide-price
  &__slide-price {
    @include adaptiveValue("font-size", 40, 20);
    line-height: 100%;
    @include adaptiveValue("margin-bottom", 36, 20);
    @media (max-width: $mobileSmall) {
      text-align: center;
    }
  }
  // .pricing__slide-price-number
  &__slide-price-number {
    @include adaptiveValue("font-size", 60, 40);
  }
  // .pricing__slide-price-text
  &__slide-price-text {
    font-size: rem(12);
    margin-right: 8px;
    line-height: 100%;
  }
  // .pricing__slide-button
  &__slide-button {
    padding: 16px 32px;
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-bottom: rem(24);
    @media (max-width: $mobile) {
      padding: 14px 32px;
    }
  }
  // .pricing__slide-desc
  &__slide-desc {
    font-weight: 600;
    margin-bottom: rem(24);
  }
  // .pricing__slide-list
  &__slide-list {
    li {
      display: flex;
      align-items: center;
      gap: 8px;
      line-height: 100%;
      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 20, 16);
      }
      &::before {
        font-size: rem(12);
      }
    }
  }
  // .pricing__slide-tag
  &__slide-tag {
    position: absolute;
    top: 24px;
    right: 42px;
    padding: 8px 12px;
    color: $brand;
    background-color: #ffdd40;
    border-radius: 4px;
    font-size: rem(12);
    font-weight: 600;
    line-height: 100%;
    @media (max-width: $mobile) {
      display: none;
    }
  }
  // .pricing__bottom
  &__bottom {
    margin-top: rem(48);
    line-height: 100%;
    @media (max-width: $mobile) {
      display: none;
    }
    a {
      font-weight: 600;
      color: $brand;
    }
  }
}

//========================================================================================================================================================

.heath-map {
  background-color: #f1f5f9;
  @include adaptiveValue("padding-top", 120, 80);
  @include adaptiveValue("padding-bottom", 40, 80);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  // .heath-map__container
  &__container {
    width: 100%;
  }
  // .heath-map__top
  &__top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: rem(40);
    @media (max-width: 560px) {
      flex-direction: column;
      gap: 24px;
      align-items: flex-start;
    }
  }
  // .heath-map__left
  &__left {
  }
  // .heath-map__subtitle
  &__subtitle {
    color: #64748b;
    @include adaptiveValue("margin-bottom", 20, 8);
  }
  // .heath-map__title
  &__title {
    font-family: "Krona One";
    @include adaptiveValue("font-size", 30, 18);
    @include adaptiveValue("line-height", 36, 28);
    letter-spacing: -3px;
  }
  // .heath-map__button
  &__button {
    padding: 8px 36px;
    display: flex;
    align-items: center;
    gap: 8px;
    flex-direction: row-reverse;
    &::before {
      font-size: rem(24);
    }
  }
}
//========================================================================================================================================================

.confirm {
  display: flex;
  height: 100vh;
  @media (max-width: $tablet) {
    flex-direction: column;
    height: 100%;
  }
  // .confirm__main
  &__main {
    width: calc(100% - 480px);
    @media (max-width: $tablet) {
      width: 100%;
      @include adaptiveValue("padding-bottom", 80, 40);
    }
  }
  // .confirm__container
  &__container {
  }
  // .confirm__header
  &__header {
    padding: 28px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: $mobileSmall) {
      flex-direction: column;
      gap: 8px;
      align-items: flex-start;
    }
  }
  // .confirm__logo
  &__logo {
    width: 116px;
  }
  // .confirm__secure
  &__secure {
    color: #334155;
    img {
      margin-left: 4px;
    }
  }
  // .confirm__form
  &__form {
    max-width: rem(496);
    margin: 0 auto;
    @include adaptiveValue("margin-top", 80, 24);
  }
  // .confirm__form-back-button
  &__form-back-button {
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-bottom: rem(40);
    transition: font-size 0.3s ease 0s;

    &::before {
      font-size: rem(24);
    }
  }
  // .confirm__form-title
  &__form-title {
    margin-bottom: rem(16);
    color: #64748b;
  }
  // .confirm__form-address
  &__form-address {
    padding: 24px;
    font-weight: 500;
    @include adaptiveValue("font-size", 24, 18);
    @include adaptiveValue("line-height", 32, 28);
    border-radius: 16px;
    background: #eef2ff;
    margin-bottom: rem(24);
  }
  // .confirm__form-label
  &__form-label {
    font-weight: 600;
    font-size: rem(14);
    line-height: math.div(20, 14);
    margin-bottom: rem(8);
    display: inline-block;
  }
  &__form-input {
    margin-bottom: rem(32);

    &:last-of-type {
      margin-bottom: rem(40);
    }
  }
  &__form-button {
    padding: 16px 32px;
  }
  // .confirm__form-desc
  &__form-desc {
    margin-top: rem(24);
    a {
      text-decoration: underline;
    }
  }
  // .confirm__sidebar
  &__sidebar {
    background-color: #eef2ff;
    padding: 80px;
    width: rem(480);
    @media (max-width: $tablet) {
      width: 100%;
      padding: 40px 80px;
    }
    @media (max-width: $mobile) {
      padding: 40px 24px;
    }
  }
  &__sidebar-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    @media (max-width: $tablet) {
      max-width: rem(480);
      width: 100%;
      margin: 0 auto;
    }
  }
  // .confirm__sidebar-top
  &__sidebar-top {
    @media (max-width: $tablet) {
      margin-bottom: rem(80);
    }
  }
  // .confirm__sidebar-title
  &__sidebar-title {
    font-weight: 700;
    margin-bottom: 40px;
  }
  // .confirm__sidebar-list
  &__sidebar-list {
    margin-bottom: rem(40);
    li {
      display: flex;
      align-items: center;
      gap: 24px;
      &::before {
        font-size: rem(24);
        color: #818cf8;
        padding: 12px;
        border-radius: 50%;
        background-color: #e0e7ff;
      }
      &:not(:last-child) {
        margin-bottom: rem(16);
      }
    }
  }
  // .confirm__sidebar-desc
  &__sidebar-desc {
  }
  // .confirm__sidebar-bottom
  &__sidebar-bottom {
  }
  // .confirm__sidebar-testimonial
  &__sidebar-testimonial {
    font-size: rem(20);
    @include adaptiveValue("font-size", 20, 18);
    font-style: italic;
    font-weight: 500;
    line-height: math.div(28, 20);
    margin-bottom: rem(40);
  }
  // .confirm__sidebar-autor
  &__sidebar-autor {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  // .confirm__sidebar-autor-photo
  &__sidebar-autor-photo {
    border-radius: 50%;
    width: 64px;
    height: 64px;
  }
  // .confirm__sidebar-autor-text
  &__sidebar-autor-text {
  }
  // .confirm__sidebar-autor-name
  &__sidebar-autor-name {
    font-weight: 600;
  }
  // .confirm__sidebar-autor-job
  &__sidebar-autor-job {
    color: #475569;
    font-size: rem(14);
    line-height: math.div(20, 14);
  }
  // .confirm__sidebar-autor-business
  &__sidebar-autor-business {
    color: #475569;
    font-size: rem(14);
    line-height: math.div(20, 14);
  }
}
